@import url("https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@100..900&display=swap");

.lexend-giga {
    font-family: "Lexend Giga", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}




:root {
  --main-color: #6f4e37;
  --primary-color: #a67b5b;
  --ternary-color: #fed8b1;
}

/* Resets */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Utility */
button {
  padding: 10px 30px;
  background-color: var(--main-color);
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

body {
  background-color: var(--ternary-color);
  font-family: "Lexend Giga", sans-serif;
  
}

body::-webkit-scrollbar {
  width: 0.5em;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  outline: 1px solid var(--ternary-color);
}

/* Nav */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 15px;
  color: var(--main-color);
}

li {
  display: inline;
  list-style: none;
}

li a{
    color: var(--main-color);
    text-decoration: none;
    margin: 40px;
    padding-bottom: 5px;
}

li a:hover{
    border-bottom: 3px solid var(--main-color);

}

/* Nav ends here */


/* Header Starts here */
header{
    background-image: url(/Images/jakub-dziubak-XtUd5SiX464-unsplash.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    margin-top: 5px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: var(--main-color);
    text-align: center;
    position: relative;
}

.main-headings{
    position: absolute;
    font-size: 3.5rem;
    top: 7rem;
}

.primary-headings{
    position: absolute;
    bottom: 4rem;
    
}

.main-btn{
    position: absolute;
    bottom: 1rem;
    transition: background-color 0.5s;
    transition: color 0.5s;
    transition: box-shadow 0.5s;
    font-weight: 900;
    color: var(--ternary-color);
}

.main-btn:hover{
    box-shadow: 2px 2px 7px black;
}

.main-btn:active{
    background-color: var(--ternary-color);
    color: var(--main-color);
}

.our-story-container{
    height: 100vh;
    margin-top: 10%;
    background-color: var(--ternary-color);

    display: flex;
    justify-content: space-around;
    position: relative;

}

.img{
    height: 500px;
    width: 600px;
    position: absolute;
    left: 5rem;
    background: url(/Images/janko-ferlic-h9Iq22JJlGk-unsplash.jpg);
    background-position: center;
    background-size: cover;
    transition: box-shadow 0.5s;
}

.img:hover{
  box-shadow: 3px 3px 10px black;
}

.content{
  height: 400px;
  width: 600px;

  
  
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  

  position: relative;
  left: 21rem;
  
}

.learn-more-btn{
  font-weight: 900;
  color: var(--ternary-color);
  transition: box-shadow 0.5s;
}

.learn-more-btn:hover{
    box-shadow: 2px 2px 7px black;
}

